@import "../../styles.scss";

.card {
  margin-top: 50px;

  .card-header {
    background-color: $green-color;
    color: white;
    text-align: center;
    font-weight: bold;
  }

  .card-body {
    padding: 20px;
  }

  form {
    .form-group {
      margin-bottom: 20px;
    }

    input[type="email"],
    input[type="password"] {
      border-radius: 0;
    }

    button[type="submit"] {
      background-color: $green-color;
      border-color: $green-color;;
      border-radius: 0;
    }
  }
}
